{
  "youtubeMp3Downloader": {
    "ffmpegPath": "<FMPEG_PATH>",
    "outputPath": "<OUTPUT_PATH>",
    "youtubeVideoQuality": "highest",
    "queueParallelism": 10,
    "progressTimeout": 2000
  },
  "youtubeVideoSearcher": {
    "apiKey": "<Google API Key>"
  }
}
