{
    "youtubeMp3Downloader": {
        "ffmpegPath": "(The path where ffmpeg is installed)",
        "outputPath": "(the path where the files will be saved)",
        "youtubeVideoQuality": "highest", 
        "queueParallelism": 10, 
        "progressTimeout": 2000
    },
    "youtubeVideoSearcher": {
        "apiKey": "(Your Youtube API KEY)"
    }
}